body{
	margin:0;
	background-position: center;
	font-family: 'Dosis', sans-serif;
	background-color: rgb(238, 204, 255);
	font-size:25px;
}

.background-img{
	position:fixed;
	margin:0 auto;
	width:1650px;
	height:1000px;
	left:-10px;
	top:0px;
	z-index:-10;
}

#text-logo{
	position:fixed;
	margin:0 auto;
	top:75px;
	left:430px;
	background-color: rgba(77, 121, 255, 0.7);
	padding:15px;
	padding-right:30px;
	border-radius:25px;
	font-size: 150px;
	letter-spacing: 10px;
}

#text-box{
	float:right;
	margin-left:30px;
	width:330px;
	font-weight:bold;	
	color:white;
	background-color:rgba(221, 153, 255, 1.0);
	border-radius:20px;
	text-align:center;
	letter-spacing: 20px;
}

#subtext{
	text-align:center;
	margin-top:42%;
	font-size:80px;
	color:white;
	font-weight:bold;
	background-color:rgba(221, 153, 255, 0.6);
	border-radius:20px;
	letter-spacing:10px;
}

.icon{
	position:relative;
	display: inline-block;
	margin-top:10px;
	width:50px;
	height:50px;
}

#bigmapicon{
	position:fixed;
	width:150px;
	height:150px;
	bottom:150px;
	left:150px;
	transition: 0.5s;
}

#bigmapicon:hover {
	width:170px;
	height:170px;
}


#bigthesicon{
	position:fixed;
	width:150px;
	height:150px;
	bottom:150px;
	right:150px;
	transition: 0.5s;
}

#bigthesicon:hover {
	width:170px;
	height:170px;
}

#topbar{
	position:absolute;
	margin:0 auto;
	width:1650px;
	height:70px;
	left:-1px;
	top:-1px;
	background-color:rgb(153, 179, 255);
	z-index:10;
}

#mapicon{left:13%;}
#boxicon{left:43%;}
#thesicon{left:73%;}

#mapper-container{
	position:absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width:1500;
	height:600;
	top:90px;
	border-width:10px;
	border-style:solid;
	border-color:rgb(153, 179, 255);
	background-color:white;
}

#helper-text{
	width:40%;
	display:block;
}

#tutorial{
	position:relative;
	top:30px;
	left:450px;
	padding:15px;
	text-align:center;	
	font-size:25px;
	background-color:rgb(204, 204, 204);
	z-index: 0;
}

#start{
	position:absolute;
	text-align:center;	
	margin:0 auto;
	z-index:10;
	font-size:40px;
	font-weight:bold;
	left:37%;
	display:none;
	bottom:20px;
}

#mapper{
	display:none;
	width:700px;
	height:500px;
	
	border-style:solid;
	border-width:2px;
	border-color:blue;

	position:relative;
	margin:20px auto;
}

#mapper-text{
	width:100%;
	font-size:20px;
	font-style:bold;
	text-align:center;
	color:black;
	position:relative;
	margin:5px auto;
}

#elements{
	width:450px;
	height:450px;
	color: black;
	font-style:bold;
	position:relative;
	margin: 0 auto;
	font-size:18px;
	transition:0.3s;
}

.element{
	width:150px;
	text-align:center;
	padding-top:80px;
	padding-bottom:40px;
	border-radius:10px;
	transition:0.5s;
}

#up{
	position:absolute;
	left:150px;
	background-color:rgba(134, 45, 134, 0.5);
}

#left{
	position:absolute;
	background-color:rgba(0, 57, 230, 0.5);
	bottom:150px;
}

#right{
	position:absolute;
	background-color:rgba(204, 0, 0, 0.5);
	right:0px;
	top:150px;
}

#down{
	position:absolute;
	background-color:rgba(0, 102, 0, 0.5);
	bottom:0px;
	right:150px;
}

#reset-button{
	width:150px;
	background-color:gray;
	padding:10px;
	position:relative;
	text-align:center;
	border-radius:10px;
	color:black;
	font-style:bold;
	margin:23px auto;
}

.select{
	cursor:pointer;
	position:relative;
	width:200px;
	font-size:125%;
	padding-bottom:60px;
	padding-top:100px;
	opacity:0.8;
	z-index:100;
}

#thes-title{
	position:relative;
	font-size:40px;
	text-align:center;
	letter-spacing:4px;	
	top:100px;
}

#thes-subtext{
	position:relative;
	width:600px;
	margin:20px auto;
	font-size:30px;
	text-align:center;
	letter-spacing:4px;	
	top:100px;
}

#searchbar-container{
	position:relative;
	top:100px;
	width:400px;
	padding:10px;
	background-color:rgb(153, 179, 255);
	margin:20px auto;
	border-radius:10px;
}	

#searchbar{	
	position:relative;
	width:300px;
	height:45px;
	font-size:20px;
	margin:0px auto;
	border-radius:10px;
}

#search-button{
	width:90px;
	height:45px;
	color:white;
	padding:10px;
	background-color:blue;
	font-size:20px;
	border:0px solid;
	border-radius:10px;
}

#search-button:active{
	opacity: 0.5;
}

#result-container{
	width:800px;
	padding:30px;
	position:relative;
	top:100px;
	margin:0px auto;
	background-color:rgb(153, 179, 255);
	border-radius:10px;

}

.album{
	position:relative;
	width:200px;
	height:200px;
	border:2px solid black;
	margin:20px;
	text-align:center;
	color:rgba(0,0,0,0.0);
	font-style:bold;
	font-size:30px;
	transition:0.6s;
	display:inline-block;
}

#dre{
	background-image:url('../img/album/dre.jpg');
	background-size:100% 100%;
	margin:10px auto;
	display:block;
	width:400px;
	height:400px;
	font-size:30px;
}

.album:hover{
	width:230px;
	height:230px;
	color:white;
	opacity:0.7;
}

.album #dre:hover{
	color:white;
	opacity:0.6;
}

#description{
	position:relative;
	width:600px;
	margin:10px auto;
	font-size:25px;
	text-align:center;
}

.divider{
	position:relative;
	margin:20px auto;
	width:100%;
	border:4px solid black;
}

#similar-albums{
	position:relative;
	margin:0px;
	width:100%;
	height:400px;
}

#dre2{
	background-image:url('../img/album/dre2.jpg');
	background-size:100% 100%;
}

#dre2:hover{
	width:230px;
	height:230px;
	color:black;
	opacity:0.8;
}

#coolio{
	background-image:url('../img/album/coolio.jpg');
	background-size:100% 100%;
}

#big{
	background-image:url('../img/album/big.jpg');
	background-size:100% 100%;
}