.box{
	border-color: black;
	border-width:2px;
	border-style: solid;
	position:fixed;
	left:100px;
	bottom:50%;
	width:400px;
	height:250px;
	padding:50px;
	text-align:center;
}

.up {
	border-color: purple;
	margin:20px;
	padding:10px;
	border-width:2px;
	border-style: solid;
}
.left {
	border-color: blue;
	position:relative;
	margin:20px;
	right:20px;
	padding:10px;
	border-width:2px;
	border-style: solid;
}
.right {
	border-color: red;
	margin:20px;
	position:relative;
	left:20px;
	padding:10px;
	border-width:2px;
	border-style: solid;
}
.down {
	border-color: green;
	margin:20px;
	padding:10px;
	border-width:2px;
	border-style: solid;
}